*{
  margin: 0;
  padding: 0;
  font-family: "Poppins",sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: #fff;
}
#header {
  width: 100%;
  height:100vh;
}
.container {
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
  height: 150px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  text-align: center;
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: #ff004f;
}
/* -------------about--------- */
#about {
  padding: 80px 0;
  color: #ababab;
  opacity: 0; 
  transform: translateY(50px); 
  transition: opacity 1.6s ease-out, transform 1.6s ease-out; 
}

#about.show {
  opacity: 1; 
  transform: translateY(0); 
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.about-col-2 .sub-title {
  margin-bottom: 20px;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.sub-title2 {
  font-size: 60px;
  font-weight: 600;
  background: linear-gradient(270deg,#1a0dab,#fff,#ff004f, #ff7f50, #1e90ff, #32cd32, #ff69b4, #ff7f50);
  background-size: 400% 400%;
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  animation: gradientText 10s ease infinite;
}


@keyframes gradientText {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.tab-tiitle {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: red;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}
/* ----------services ----------- */
#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  opacity: 0; 
  transform: translateY(50px); 
  transition: opacity 1.6s ease-out, transform 1.6s ease-out;
}

.services-list.show {
  opacity: 1; 
  transform: translateY(0); 
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list ul li {
  text-align: justify;
  margin-bottom: 10px;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-20px);
}

/* --------portofolio---------- */
#portofolio {
  padding-top: 50px;
  padding-bottom: 10px;
  opacity: 0; 
  transition: opacity 1.6s ease-out, transform 1.6s ease-out;
  transform: translateY(50px); 
}

#portofolio.visible {
  opacity: 1; 
  transform: translateY(0); 
}


.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  display: block;
  overflow: hidden; 
  position: relative; 
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: justify;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work img {
  width: 100%;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display:block;
  margin: 50px auto;
  width: fit-content;
  border: 1px Solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #f8f4f4;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff004f;
}

/* ---------------contact--------------- */
.contact-left {
  flex-basis: 35%;
  opacity: 0;
  transition: opacity 1.6s ease-out, transform 1.6s ease-out;
  transform: translateY(50px);
}
.contact-right {
  flex-basis: 60%;
  opacity: 0;
  transition: opacity 1.6s ease-out, transform 1.6s ease-out;
  transform: translateY(50px);
} 
.contact-left.visible, .contact-right.visible {
  opacity: 1;
  transform: translateY(0);
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin: 0 15px 15px 0;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
}
.contact-right form {
  width: 100%;
}
form input,form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 0 0 20px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i {
  color: #ff004f;
}

nav .fas {
  display: none;
}

/* pagination */
.search-results {
  margin-bottom: 20px;
  opacity: 0; 
  /* transition: opacity 0.6s ease-out, transform 5.6s ease-out; */
  /* transform: translateY(50px);  */
}

.search-results.visible {
  opacity: 1;
  transform: translateY(0); 
}


.result {
  margin-bottom: 20px;
}

.result a {
  font-size: 18px;
  color: #1a0dab;
  text-decoration: none;
}

.result a:hover {
  text-decoration: underline;
}

.result p {
  font-size: 14px;
  color: #4d5156;
}

.layer .layer-judul {
  font-weight: bold;
  font-family: "Roboto" , sans-serif;
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
  opacity: 0; 
  transform: translateY(50px); 
  transition: opacity 1.6s ease-out, transform 1.6s ease-out;
}

.pagination-container.visible {
  opacity: 1; 
  transform: translateY(0); 
}


.pagination {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  color: white;
  flex-wrap: wrap;
  max-width: 100%;
}

.pagination a {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 16px;
}

.pagination a.active {
  background-color: #1a0dab;
  color: white;
  border: 1px solid #1a0dab;
}

.pagination a:hover {
  background-color: red;
  color: white;
}
/* arah panah */
.arrow-center {
  display: flex;
  justify-content: center; 
  align-items: center;   
  height: 100px; 
  margin: 0 auto;
}

.arrow {
  font-size: 250%;
  color: white;
  animation: moveDown 2s infinite;
}

@keyframes moveDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(20px); 
  }
  100% {
      transform: translateY(0); 
  }
}

/* icon whatsApp */

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 20px;
  z-index: 100;
}

.whatsapp-float img {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  transition: transform 0.3s ease-in-out;
}

.whatsapp-float img:hover {
  transform: scale(1.1);
}

/* scroll atas  */

.scroll-top-float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 90px; 
  right: 25px;
  color: red;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  z-index: 100;
  cursor: pointer;
  display: none; 
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.scroll-top-float:hover {
  opacity: 1;
}

@media screen and  (max-width: 600px) {
  .work img {
    width: 100%;
    height: 300px;
  }  
  .header-text {
    margin-top: 50%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fas {
    display: block;
    margin-bottom: 35px;
    font-size: 25px;
  }
  nav ul{
    background: #080808;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
  } 
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 200%;
  }
  .sub-title2 {
    font-size: 150%;
  }
  .about-col-1, .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left, .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
}
#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}

/* pagination media query */

@media screen and (max-width: 768px) {
  .pagination a {
      padding: 8px 12px;
      font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .pagination a {
      padding: 5px 10px;
      font-size: 20px;
  }
}
